{% extends 'base.html' %}

{% block title %}Eliminar reserva{% endblock %}

{% block content %}

<section class="card">
    <h2>Confirmar eliminación</h2>

    <p>
        ¿Está seguro que desea eliminar la reserva del día
        <strong>{{ reserva.fecha_reserva }}</strong>
        para la unidad
        <strong>{{ reserva.unidad_solicitante }}</strong>?
    </p>

    <form method="POST">
        {% csrf_token %}

        <button type="submit" class="btn-eliminar">Sí, eliminar</button>
        <a href="{% url 'listar_reservas' %}" class="btn-secundario">Cancelar</a>
    </form>
</section>

{% endblock %}